# Ethereum EDA

In [6]:
# Standar import
import os
# Third Party imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets 
# Local imports

data=pd.read_csv('./data/ethereum.csv')

In [9]:
print(f"{m_}Total records:{y_}{data.shape}\n")

Total records:(1873, 7)

In [8]:
data.head()

           Date     Price      Open      High       Low   Vol. Change %
0  Apr 25, 2021  2,266.24  2,217.23  2,287.87  2,182.37  1.37M    2.27%
1  Apr 24, 2021  2,215.93  2,367.35  2,367.46  2,159.60  1.61M   -6.39%
2  Apr 23, 2021  2,367.31  2,398.95  2,440.21  2,119.26  3.46M   -1.41%
3  Apr 22, 2021  2,401.10  2,360.32  2,642.99  2,313.46  3.17M    1.71%
4  Apr 21, 2021  2,360.81  2,331.84  2,467.51  2,238.15  2.10M    1.23%